@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2301 0.0177 258.3595);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2301 0.0177 258.3595);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2301 0.0177 258.3595);
  --primary: oklch(0.2301 0.0177 258.3595);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2301 0.0177 258.3595);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9473 0.0251 294.1006);
  --accent-foreground: oklch(0.6136 0.1797 288.1212);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.2301 0.0177 258.3595);
  --chart-1: oklch(0.6136 0.1797 288.1212);
  --chart-2: oklch(0.7464 0.1578 313.7086);
  --chart-3: oklch(0.7385 0.1916 334.0460);
  --chart-4: oklch(0.6995 0.1520 32.7060);
  --chart-5: oklch(0.8176 0.1492 80.5860);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2301 0.0177 258.3595);
  --sidebar-primary: oklch(0.2301 0.0177 258.3595);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9473 0.0251 294.1006);
  --sidebar-accent-foreground: oklch(0.6136 0.1797 288.1212);
  --sidebar-border: oklch(0.9290 0.0126 255.5317);
  --sidebar-ring: oklch(0.2301 0.0177 258.3595);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.07);
  --shadow-xs: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.07);
  --shadow-sm: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 1px 2px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 1px 2px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-md: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 2px 4px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-lg: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 4px 6px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-xl: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 8px 10px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-2xl: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.33);
  --shadow-color: #ab9ff2;
  --shadow-opacity: 0.13;
  --shadow-blur: 20px;
  --shadow-spread: -25.5px;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0px;
  --letter-spacing: 0rem;
  --spacing: 0.22rem;
  --tracking-normal: 0rem;
}

.dark {
  --background: oklch(0.1405 0.0044 285.8238);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.9848 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2120 0.0040 286.0563);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2120 0.0040 286.0563);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.6136 0.1797 288.1212);
  --accent-foreground: oklch(0.9203 0.0034 286.3323);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2747 0.0060 286.0011);
  --input: oklch(0.2747 0.0060 286.0011);
  --ring: oklch(0.9848 0 0);
  --chart-1: oklch(0.6136 0.1797 288.1212);
  --chart-2: oklch(0.5797 0.2102 312.3258);
  --chart-3: oklch(0.5994 0.2278 335.8380);
  --chart-4: oklch(0.5964 0.1903 33.1614);
  --chart-5: oklch(0.6804 0.1311 79.2611);
  --sidebar: oklch(0.1405 0.0044 285.8238);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.9848 0 0);
  --sidebar-primary-foreground: oklch(0.9203 0.0034 286.3323);
  --sidebar-accent: oklch(0.6136 0.1797 288.1212);
  --sidebar-accent-foreground: oklch(0.9203 0.0034 286.3323);
  --sidebar-border: oklch(0.2747 0.0060 286.0011);
  --sidebar-ring: oklch(0.9848 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.07);
  --shadow-xs: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.07);
  --shadow-sm: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 1px 2px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 1px 2px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-md: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 2px 4px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-lg: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 4px 6px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-xl: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.13), 0rem 8px 10px -26.5px hsl(248.6747 76.1468% 78.6275% / 0.13);
  --shadow-2xl: 0rem 0px 20px -25.5px hsl(248.6747 76.1468% 78.6275% / 0.33);
  --shadow-color: #ab9ff2;
  --shadow-opacity: 0.13;
  --shadow-blur: 20px;
  --shadow-spread: -25.5px;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0px;
  --letter-spacing: 0rem;
  --spacing: 0.22rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Inter, sans-serif;
  --font-mono: Fira Code, monospace;
  --font-serif: Playfair Display, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --font-oswald: 'Oswald', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --animate-grid: grid 15s linear infinite;

  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color)
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}